@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

* {
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #4b3f72;
  min-height: 100vh;
}

.navbar {
  background-color: #1f2041;
  width: 100%;
  height: 85px;
  object-fit: cover;
  object-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-header {
  font-size: 36px;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.content-text {
  font-size: 32px;
  color: white;
  font-weight: bold;
}

.content-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-items-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
  gap: 25px;
}

.item-text {
  color: white;
  font-size: 20 px;
  font-weight: bold;
}

.rock {
  width: 200px;
  height: 200px;
  border: 5px solid #101022;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.rock:hover {
  cursor: pointer;
  background-color: #382f59;
}

.paper {
  width: 200px;
  height: 200px;
  border: 5px solid #101022;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.paper:hover {
  cursor: pointer;
  background-color: #382f59;
}

.scissors {
  width: 200px;
  height: 200px;
  border: 5px solid #101022;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.scissors:hover {
  cursor: pointer;
  background-color: #382f59;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.result-text {
  color: white;
  font-size: 36px;
  font-weight: bold;
}

.restart {
  display: none;
  margin: 25px 0 25px 0;
}

.restart-button {
  background-color: #81667a;
  color: white;
  font-size: 42px;
  font-weight: bold;
  padding: 10px;
  border: solid 5px #101022;
  border-radius: 35px;
}

.restart-button:hover {
  background-color: #67445e;
  cursor: pointer;
}

footer {
  position: sticky;
  top: 100%;
  background-color: #1f2041;
  margin-top: 10px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: white;
  font-weight: bold;
  font-size: 32px;
}
